<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebToon</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>dkgjdslkg</description>
		<res-ref-name>jdbc/MysqlDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<!-- Board -->
	<servlet>
		<servlet-name>BoardFrontController</servlet-name>
		<servlet-class>net.board.controller.BoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardFrontController</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	<!-- Board -->

	<!--member -->
	<servlet>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>net.member.controller.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	<!--member -->

	<!-- main -->
	<servlet>
		<servlet-name>MainFrontController</servlet-name>
		<servlet-class>net.main.controller.MainFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainFrontController</servlet-name>
		<url-pattern>*.today</url-pattern>
	</servlet-mapping>
	<!-- 검색결과 및 상세정보 -->
	<servlet>
		<servlet-name>WebtoonFrontController</servlet-name>
		<servlet-class>net.webtoon.controller.WebtoonFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebtoonFrontController</servlet-name>
		<url-pattern>*.wbt</url-pattern>
	</servlet-mapping>
	
	<!-- Recommend -->
	<servlet>
		<servlet-name>RecommendFrontController</servlet-name>
		<servlet-class>net.rec.controller.RecommendFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecommendFrontController</servlet-name>
		<url-pattern>*.rec</url-pattern>
	</servlet-mapping>
	<!-- Recommend -->

</web-app>