@CHARSET "UTF-8";

.wbt_list_div{
	width: 1200px;
	margin: 0 auto;
	font-size: 20px;
}

.wbt_list_div>table{
	margin: 24px;
    width: 100%;
    text-align: center;
}

.wbt_list_div>table th{
	background-color: #cac1dd;
}

.wbt_list_div>table td{
	padding: 5px 0;
}

.wbt_list_div>table tr:HOVER{
	background-color: #cac1dd;
}

.wbt_list_div>a{
    font-size: 25px;
    margin: 20px 46%;
    display: inline-block;
    width: 130px;
    padding:10px;
    text-align:center;
    background-color: #ddd
}

