@CHARSET "EUC-KR";
* {
	margin: 0;
	padding: 0;
}

body {
background-image: url("../img/banner.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.div {background-color:rgb(16, 18, 20,0.2);
	
	border: 1px solid;
	margin: auto auto;
	padding: 10px 10px;
	width: 300px; 
	text-align: center;
	margin-top: 100px;
	border-radius: 10px;
} 
.b {
	color: white;
}

.forgetid {
	color: white;
	margin: auto auto ;
	text-align: center;
	display: inline-block;	
	font-size: 20px;
	width: 130px;
}


.forgetid>a{
	text-decoration: none;
	color: white;
}

.forgetpw {
	margin: auto auto ;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	width:130px; height: 40px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}

.forgetpw>a{
	text-decoration: none;
	color: gray;
}

.ex>p{color:white;
margin-top:10px;}
.name>input {
	margin-top: 50px;
	width: 250px; height: 30px;
}

.email>input {
	margin-top: 10px;
	width: 250px; height: 30px;
}

.getid>input {
	margin-top: 10px;
	width: 250px; height: 30px;
}

.loginpage>a{

color:white;
}