@CHARSET "UTF-8";
/* 오후 12:20 2018-11-02 수정 */

@font-face {
	font-family: 'NanumBarunpenR';
	src: url("../font/NanumBarunpenR.ttf") format('truetype');
}

@font-face {
	font-family: 'MaplestoryLight';
	src: url("../font/Maplestory Light.ttf") format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'NanumBarunpenR', sans-serif;
}

input {
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 15px;
}

select {
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 15px;
}

a {
	text-decoration: none;
}

.back {
	font-size: 25px;
	margin: 30px;
	color: #eee;
	font-weight: bold;
	vertical-align: middle;
}

.div {background-color:rgb(16, 18, 20,0.2);
	
	border: 1px solid;
	margin: auto auto;
	padding: 10px 10px;
	width: 330px; 
	text-align: center;
	margin-top: 100px;
	border-radius: 10px;
} 
.b {
	color: white;
}

.login {
	color: #eee;
	margin: auto auto ;
	text-align: center;
	display: inline-block;	
	font-size: 25px;
	width: 130px; height: 40px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}

.login>a{
	text-decoration: none;
	color: gray;
}

.join {
	color: #eee;
	margin: auto auto ;
	text-align: center;
	display: inline-block;
	font-size: 25px;
	width:130px;
}

.join>a{
	text-decoration: none;
	color: white;
}

.id_input>input {
	box-sizing: border-box;
	padding: 5px;
	border: none;
	font-weight: bold;
	background-color:#eee;
    color:#3c2f55;
	margin-top: 100px;
	width: 250px; height: 30px;
}

.email_input>input {
	box-sizing: border-box;
	padding: 5px;
	border: none;
	font-weight: bold;
	background-color:#eee;
    color:#3c2f55;
	margin-top: 10px;
	width: 250px; height: 30px;
}

.pwd_input>input {
	box-sizing: border-box;
	padding: 5px;
	border: none;
	font-weight: bold;
	background-color:#eee;
    color:#3c2f55;
	margin-top: 10px;
	width: 250px; height: 30px;
}

.pwd_hint>select,.pwd_hint>input {
	box-sizing: border-box;
	padding: 5px;
	border: none;
	font-weight: bold;
	background-color:#eee;
    color:#3c2f55;
	margin-top: 10px;
	width: 250px; height: 30px;
}

.nic_input>input {
	box-sizing: border-box;
	padding: 5px;
	border: none;
	font-weight: bold;
	background-color:#eee;
    color:#3c2f55;
	margin-top: 10px;
	width: 250px; height: 30px;
}


.join_input>input {
	border: none;
	font-weight: bold;
	background-color:#cac1dd;
    color:#3c2f55;
	margin-top: 50px;
	width: 250px; height: 30px;
}


.hpname {
/*  	border: 1px solid red;	 */
	color: #eee;
	margin-top: 20px;
	font-weight: bold;
	font-size: 25px;
	font-family: 'MaplestoryLight', sans-serif;
	
}

.hpname>p {
	display: inline-block;
}