@CHARSET "UTF-8";
/*  			uf= updateForm  
				rif=reinfo				*/
*{
	margin:0;
	padding:0;
 }
 
 .clear {
 	clear: both;
 }


@font-face {
	font-family: 'NanumBarunpenR';
	src: url("../font/NanumBarunpenR.ttf") format('truetype');
}

body {
	font-family: 'NanumBarunpenR', sans-serif;
}

 
#ma_wrap{
/* 	border:1px solid red; */
	text-align: center;
	width: 100%;
	min-height: -webkit-fill-available;
}

#ma{
 	/* border:1px solid #cac1dd; */ 
	border-bottom: 1px solid #cac1dd;
	border-top: 1px solid #cac1dd;
	margin:auto auto;
	display: inline-block;
 	}

#ma_title{
/* 	border: 1px solid red;  */
	width: 500px;
	height: 100px;
	display: inline-block;
	margin: 0 auto;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom:20px;
	}
	

	
#ma_text{
/* 	border: 1px solid red;  */
	min-width:800px;
	min-height: 100px;
	}
	
table{
	margin:0 auto;	
	}
	
th{
	background-color: #e4e4e4;
	font-size: 22px;
	height: 40px;
	border-right-style: hidden;	
	font-family: 'NanumBarunpenR', sans-serif;
	}
	
td{ color:#3c2f55;
	width:300px;
	height:50px;
	text-align: center;
	padding-left:10px;
	font-family: 'NanumBarunpenR', sans-serif;
	}
	
td>a {
	color:#3c2f55;
	font-family: 'NanumBarunpenR', sans-serif;
}

input {
	width: 250px; height: 30px;
	font-family: 'NanumBarunpenR', sans-serif;
}

select {
	width: 150px; height: 30px;
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	}

#ma_sub>#mt_search{
	width: 200px; height: 30px;
	font-weight: bold;
/* 	border: none; */
}
#ma_sub>#mt_submit, .del_member {
	width: 100px; height: 30px;
/* 	margin-left: 10px; */
	font-weight: bold;
	border: none;
	background-color:#cac1dd;
    color:#3c2f55;
    font-family: 'NanumBarunpenR', sans-serif;
	}
	
#ma_sub>#mt_submit:HOVER {
	cursor: pointer;
}

#ma_sub{
/* 	border:1px solid red; */
	margin:10px;
/* 	padding-left: 10px; */
	float: right;
}

.mya_back>input {
	float: right;
	width: 100px; height: 30px;
	margin: 10px;
	font-weight: bold;
	border: none;
	background-color:#cac1dd;
    color:#3c2f55;
    font-family: 'NanumBarunpenR', sans-serif;	
}

.mya_back>input:HOVER {
	cursor: pointer;
}

	
	
	
	
	
	
	
	