@CHARSET "UTF-8";
body{
	background-color: black;
}
.wrap {
/* 	border: 1px solid white; */
	width: 450px;
	height: 270px;
	margin: 50px 100px 50px 70px;
	float: left;
}
/* 웹툰썸네일 div */
.rec {
/* 	border: 1px solid white; */
	width: 60%;
	color: white;
	float: left;
}
/* 웹툰썸네일 img */
.rec>img {
	border: 1px solid white;
	width: 100%;
}

/* 웹툰이름 div */
.content { 
	border: 1px solid white;
	width: 100%;
	color: white;
	font-size: 30px;
	margin-bottom: 5px;
}

/* 웹툰이름 b */
.content>b {
	margin-left: 15px;
}

/* 웹툰작가/장르 div */
.author {
	border: 1px solid white;
	width: 100%;
	color: #cccccc;
	font-size: 12px;
}

.author>b {
	margin-left: 15px;
}
.webtoon_btn{
	width: 130px;
	margin-top: 36px;
	margin-left: 15px;
	background-color: #5F4B8B;
	color: white;
	border: none;
	text-align: center;
	font-size: 20px;
	padding: 10px 10px;
	border-radius: 10px 10px;
	font-weight: bold;
}
 
/* 별점 div */
.star {
	margin-top: 23px;
	margin-left: 4px;
	float: left;
	color: white;
}
.star>b{
	margin-left: 10px;
}
.star_rating {
	font-size: 0;
	letter-spacing: 2px;
	margin-left: 8px;
}

.star_rating a {
	font-size: 22px;
	letter-spacing: 0;
	display: inline-block;
	margin-left: 5px;
	color: white;
	text-decoration: none;
}

.star_rating a:first-child {
	margin-left: 0;
}

.star_rating a.on {
	color: #ff0080;
}

.intro {
	color: white;
	float: left;
	margin-top: 10px;
}