@CHARSET "UTF-8";

*:FOCUS {
	outline: none;
}

* {
	margin: 0;
	padding: 0;
}

header#header-head{   
    /* 상단바 고정 */
    position: sticky;
    top: 0;
    z-index: 3;
}

@font-face {
	font-family: 'NanumBarunpenR';
	src: url("../main/font/NanumBarunpenR.ttf") format('truetype');
}

body {
	min-width: 1920px;
	background-color: white;
}

.rec_show_top_background {
    width: 100%;
    min-width: 1080px;
    height: 52px;
    background-color: #d5cde4;
    position: sticky;
    top: 100px;
    z-index: 2;
}
.rec_show_top_background>a {
	width: 140px;
    text-transform: none;
    font-weight: bold;
    font-size: 30px;
    color: #210042;
    padding-left: 30px;
    float: left;
    text-align: center;
    margin-top: 6px;
}

.rec_show_top_background>b {
	width: 80%;
	font-size: 30px;
	float: left;
	text-align: center;
	color: #210042;
	margin-top: 7px;
}

.rec_show_main {
	min-width: 1279px;
    min-height: -webkit-fill-available;
    width: 30%;
    margin: 0 auto;
    padding-left: 55px;
    font-family: 'NanumBarunpenR';
}

.rec_show_wrap_div {
	/* border: 1px solid white; */
    width: 576px;
    height: 225px;
    box-sizing: border-box;
    /* padding: 0px 10px 30px 30px; */
    margin: 18px 0;
    display: inline-block;
    /* text-align: center; */
    font-family: 'NanumBarunpenR', sans-serif;
    margin-left: 57px;
}
/* 웹툰썸네일 div */
.rec_show_img_div {
	width: 200px;
    height: 200px;
    color: white;
    float: left;
    display: inline-block;
}
/* 웹툰썸네일 img */
.rec_show_img_div img {
	width: 200px;
	height: 200px;
	display: block;
	float: left;
	border-radius: 5px 5px;
}

/* 웹툰이름, 작가 영역  */
.rec_show_webtoon_div {
	width: 480px;
    height: auto;
    float: left;
    margin-top: -209px;
    margin-left: 210px;
    text-align: left;
}

.rec_show_webtoon_div>a {
	width: 340px;
    font-size: 35px;
    color: #210042;
    cursor: pointer;
    float: left;
}

.rec_show_webtoon_div>p {
	width: 310px;
    color: #7c7c7c;
    font-size: 25px;
    text-align: left;
    float: left;
}

.rec_show_btn_div {
	width: 176px;
    /* height: auto; */
    float: left;
    position: relative;
    top: -95px;
    left: 177px;
}

.rec_show_webtoon_btn {
	width: 100%;
    margin-left: 32px;
    position: relative;
    top: 45px;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    border-radius: 2px 2px;
    float: left;
    font-weight: bold;
}

.rec_show_webtoon_btn:HOVER {
	background-color: #c3c3c3;
}

.rec_show_intro_div {
	width: 380px;
	color: black;
	float: left;
	margin-top: 10px;
	text-align: left;
}

#rec_show_next_div {
	width: 100%;
	float: left;
	text-align: center;
	/* position: relative;
	top: 30px; */
	margin-bottom: 30px;
	margin-top: 40px;
}

#rec_show_next_div>button {
	background-color: #a8a8a8;
	color: #ffffff;
	border: none;
	text-align: center;
	font-size: 30px;
	border-radius: 5px 5px;
	padding: 5px 40px;
	font-weight: bold;
}

#rec_show_next_div>button:HOVER {
	background-color: #828282;
}

#loading {
 width: 100%;  
 height: 100%;  
 top: 0px;
 left: 0px;
 position: fixed;  
 display: block;  
 opacity: 0.7;  
 background-color: #fff;  
 z-index: 99;  
 text-align: center; } 
  
#loading-image {  
 position: absolute;  
 top: 50%;  
 left: 50%; 
 z-index: 100; }
