@CHARSET "UTF-8";
@font-face {font-family: 'NanumBarunpenR';	src: url("../css/font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("../css/font/Maplestory Light.ttf") format('truetype');}

*{margin:0;padding:0;}

.clear{clear: both;}
.niw_wrap{
	width:100%;
    text-align: center;
	min-height: -webkit-fill-available;
	text-align: center;
	}

.ni_write{
	background-color:#f5f4e7;
	border:1px solid red;
	width:900px;
	display: inline-block;
	margin-top:100px;
	margin-bottom: 50px;
	}
	
.ni_nik{
	width:100px;
	height:100px;
	border:1px solid blue;
	
	}	
	
.ni_inputbox{
	
	margin:0 auto;
	margin-bottom: 10px;
	}
	
.ni_inputbox>select{
	width:805px;
	height:35px;
	}	
	
.ni_inputbox>input{
	width:800px;
	height:30px;
	}	
	
.ni_content{
	width:800px;
	resize: vertical;
}

.ni_btns{
	width:800px;
	border:1px solid red;
	margin:0 auto;
}
.ni_btns>.ni_back{
	float: left;
	display: block;
	width:60px;
	height:40px;
}

.ni_btns>.ni_sub{
	float: right;
	display: block;
	width:60px;
	height:40px;
}

.ni_btns>.ni_suba{
	float: right;
	display: block;
	margin-right:15px;
	width:60px;
	height:40px;
}