@CHARSET "UTF-8";
@font-face {font-family: 'NanumBarunpenR';	src: url("../css/font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("../css/font/Maplestory Light.ttf") format('truetype');}

*{margin:0;padding:0;}


.nq_wrap{
  
   width:100%;
   text-align: center;
	min-height: -webkit-fill-available;
}

.nq{
	
	
	margin:auto auto;
	display: inline-block;
	
}

.no{
	width:900px;
	margin-top:50px;
}
	
.qn{width:900px;
	margin-top:50px;
	margin-bottom:50px;}
.titlesout{
	border-bottom:9px solid #cacbc5;
	
}
.titles{
	width:150px;
	
}



.nq_header {
   	
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom:1px solid #cacbc5;
    
}

.nq_header>p{
	font-size:20px;
}

.pdate{
	display: inline-block;
	float: right;
}

.floatglyphicon{	/* 메뉴 다운버튼 끝으로 보내기 */
	float: right;
}

.active, .nq_header:ACTIVE { 	/*제목 색상 */
  	 background-color: #99baef; 
	transition: 0.4s;
}




.active, .nq_header:VISITED {	/*제목 색상 */
 	 background-color: #fff;
}

.nq_massage {
    padding: 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size:15px;
    border-bottom:1px solid #cacbc5;
}
.paging>a{
	color:#3c2f55;
	font-size:15px;
}

.notice_btn{
	
	width:130px;
	height: 50px;
	float: right;
}
.notice_btn>input{
	width: 130px; height: 30px;
   font-weight: bold;
   border: none;
   background-color:#cac1dd;
    color:#3c2f55;
}

.notice_btn>input:HOVER{
	background-color:#b9afce;
}
