@CHARSET "UTF-8";

/* 폰트 */
@font-face {font-family: 'NanumBarunpenR';	src: url("../font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("../font/Maplestory Light.ttf") format('truetype');}

/* 페이지 초기값 설정 */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;		
}
body{
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	/* line-height: 1.2em; */
	/* color: #101214; */
	color: #5F4B8B;
	min-height: 900px;
}

#wrap {
	background-color: #fff;
	min-width: 1200px;
	min-height: -webkit-fill-available;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.clear { clear: both;}



header#header-head{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    font-size: 25px;
    min-width: 1400px;
    
    /* 상단바 고정 */
/*     position: sticky;
    top: 0;
    z-index: 3; */
}

.fixed{
	/* position: fixed !important; */
    box-shadow: 0 1px 5px #333;
}

div#header-inner-top{
	width: 1200px;
	margin: 0 auto;
}

div#header-top{
	height: 100%;
	width: 70%;
	min-width:1080px;
	line-height: 2;
	margin: 0 auto;
}



div#header-logo{
	display: inline-block;
}

nav#header-menu{
	display: inline-block;
	/* margin-left: 25%; */
    float: right;
    /* height: 100%;
    line-height: 4.1; */
    margin: 25px 0;
    height: 50px;
    text-align: center;
    width: 64%;
}

nav#header-menu li{
	display: inline-block;
	margin: 0 20px;
	box-sizing: border-box;
	float: left;
	transition: all 0.2s;
}

nav#header-menu li:LAST-CHILD{
	float: right;
}

nav#header-menu li:LAST-CHILD:HOVER{
	border: none;
}
nav#header-menu a{
	transition: all 0.5s;
	
}
nav#header-menu li>a:HOVER {
	color: #bdb3d5;
}


/* dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: large;
}

#header-profile:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


/* search */
#header-srch{
	float: right;
    /* width: 150px; */
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    font-size: 30px;
    position: relative;
    top: 4px;
    z-index: 5;
}

#header-srch>input{
    box-sizing: border-box;
    width: 250px;
    height: 100%;
    margin-right: -40px;
    display: block;
    float: left;
    border: none;
    background-color: #eee;
    color: #101214;
    font-size: 20px;
    font-family: 'NanumBarunpenR', sans-serif;
    font-weight: bold;
    padding: 0 50px 0 20px;
    border-radius: 1px;
    position: relative;
    top: 2px;
}

#header-srch>a{
    box-sizing: border-box;
    /* height: 100%; */
    display: block;
    float: left;
    color: #201a2f;
    position: relative;
    bottom: 8px;
}








