@CHARSET "UTF-8";
/*폰트*/
@font-face {
	font-family: 'NanumBarunpenR';
	src: url("../font/NanumBarunpenR.ttf") format('truetype');
}

@font-face {
	font-family: 'MaplestoryLight';
	src: url("../font/Maplestory Light.ttf") format('truetype');
}

body {
	margin: 0;
	padding: 0;
}

header {
	border: 1px solid #fff;
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
}

#top {
	overflow: hidden;
	height: 120px;
	padding: 40px 0 0 0;
}

#logo {
	width: 100%;
	height: 100%;
	font-family: 'MaplestoryLight', sans-serif;
	font-weight: bold;
	font-size: 80px;
	text-align: center;
	line-height: 100%;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	z-index: -1;
}

a {
	text-decoration: none;
	color: #fff;
}

#profile {
	width: 100px;
	position: absolute;
	right: 100px;
	top: 40px;
}

#profile>img {
	vertical-align: middle;
	width: 81px;
	height: 81px;
	border-radius: 50%;
}