@CHARSET "UTF-8";

@font-face {
	font-family: 'NanumBarunpenR';
	src: url("../font/NanumBarunpenR.ttf") format('truetype');
}

body {
	margin: 0;
	padding: 0;
}

header#head{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    font-size: 25px;
    
    /* 상단바 고정 */
    position: sticky;
    top: 0;
    z-index: 3;
}

.fixed{
	/* position: fixed !important; */
    box-shadow: 0 1px 5px #333;
}

div#inner-top{
	width: 1200px;
}

div#top{
	height: 100%;
	width: 70%;
	min-width:600px;
	line-height: 2;
	margin: 0 auto;
}



div#logo{
	display: inline-block;
}

nav#menu{
	display: inline-block;
	/* margin-left: 25%; */
    float: right;
    /* height: 100%;
    line-height: 4.1; */
    margin: 25px 0;
    height: 50px;
    text-align: center;
    width: 60%;
}

nav#menu li{
	display: inline-block;
	margin: 0 20px;
	box-sizing: border-box;
	float: left;
	transition: all 0.2s;
}

nav#menu li:LAST-CHILD{
	float: right;
}

nav#menu li:LAST-CHILD:HOVER{
	border: none;
}

nav#menu li:HOVER {
/* 	border-bottom: 3px solid #cac1dd; */
}


#srch{
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    /* margin-left: 40px; */
    font-size: 30px;
    position: relative;
    top: 8px;
}

#srch>input{
box-sizing: border-box;
    width: 505px;
    height: 100%;
    margin-right: -40px;
    display: block;
    float: left;
    border: none;
    background-color: #eee;
    color: #101214;
    font-size: 20px;
    font-family: 'NanumBarunpenR', sans-serif;
    font-weight: bold;
    padding: 0 50px 0 20px;
    border-radius: 1px;
}

#srch>a{
    box-sizing: border-box;
    /* height: 100%; */
    display: block;
    float: left;
    color: #201a2f;
    position: relative;
    bottom: 10px;
}





/* dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: large;
}

#profile:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
