@CHARSET "UTF-8";
/* 폰트 */
@font-face {font-family: 'NanumBarunpenR';	src: url("../font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("../font/Maplestory Light.ttf") format('truetype');}

/* 페이지 초기값 설정 */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;		
}
body{
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 10pt;
	line-height: 1.2em;
	color: #333;
	min-height: 900px;
}

#wrap {
	background-color: rgb(16, 18, 20);
	min-width: 1200px;
	min-height:100%;
	margin: 0 auto;
}
.clear { clear: both;}



/* header 영역 (시작) */

/* header 영역 (끝) */



































