@CHARSET "UTF-8";
/* 폰트 */
@font-face {font-family: 'NanumBarunpenR';	src: url("../font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("../font/Maplestory Light.ttf") format('truetype');}

/* 페이지 초기값 설정 */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;		
}
body{
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 10pt;
	line-height: 1.2em;
	color: #101214;
	min-height: 900px;
}

#wrap {
	background-color: #101214;
	min-width: 1200px;
	min-height:100%;
	margin: 0 auto;
}
.clear { clear: both;}


/* content 영역 (시작) */

/* content 영역 (끝) */



/* footer 영역 (시작) */

#copyright {
	overflow: hidden;
	padding: 3em 0em 6em 0em;
	border-top: 1px solid #212124;
	text-align: center;
	font-family: -webkit-body;
}

#copyright p {
	font-size: 1em;
}

#copyright a {
	color: #949494;
	text-decoration: none;
	margin: 15px;
}

#copyright a:hover {
	text-decoration: underline;
}
/* footer 영역 (끝) */
































