@CHARSET "UTF-8";
/* modal */

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    /* text-align: center; */
    margin: 45px 15px;
    position: relative;
}
.imgcontainer>div{
	display: inline-block;
	color: #2d2442;
}

img.avatar {
/*     width: 40%;
    border-radius: 50%; */
    width: 25%;
    /* border-radius: 10px; */
    display: inline-block;
}
.content b{
	font-size: 25px;
	color: #2d2442;
}
.author>b{
	font-size: 10px;
}


.container {
    padding: 16px 16px 80px 16px;
    font-size: large;
}
#wbt-board{
    text-align: center;
    margin: 0 auto;
    color: #272037;
}
#wbt-board td,th{
    margin: 15px 16px;
    display: inline-block;
}

#wbt-board th{
	float:left;
	font-size: 25px;
	color: #110e18; 
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #ffffff;
    margin: 1% auto 15% auto; /* 화면 위치 조정 */
    border: 1px solid #fff;
    width: 50%;
    min-width: 900px;
    max-width: 1100px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 20px;
    top: -30px;
    /* left: 50px; */
    color: #130013;
    font-size: 55px;
    font-weight: bold;
    transition: all 0.2s;
}

.close:hover,
.close:focus {
    color: #40325a;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


#wbt-info{
	margin: 0 40px;
	width: 100%;
	display: inherit;
}

#wbt-info>div{
	position: relative;
    display: inline-block;
    margin-left: 20px;
}
#wbt-info b{
	font-size: 20px;
	color: #130013;
}

#wbt-content {
    bottom: 200px;
}
#wbt-content a{
	font-size: 35px;
	display: inline-block;
	color: #130013;
}

#wbt-author{
    bottom: 150px;
    right: 183px;
}

#wbt-search{
    color: #fff;
    padding: 10px;
    right: 400px;
    bottom: 20px;
    background-color: lavender;
    border-radius: 1px;
}
#wbt-search a{
	font-size: 20px;
	color: #130013;
}


#wbt-bo-cont>a{
	color: #130013;
    font-size: 23px;
    float: right;
    /* margin-right: 20px; */
    margin: 30px 20px 0 0;
}











