@CHARSET "UTF-8";
@font-face {font-family: 'NanumBarunpenR';	src: url("font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("font/Maplestory Light.ttf") format('truetype');}

/* 초기값 설정 */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;		
}
body{
	background-color:rgb(16, 18, 20);
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 10pt;
	line-height: 1.2em;
	color: #333;
	min-height: 900px;
}

#wrap {
	background-color: rgb(16, 18, 20);
	min-width: 1200px;
	min-height:100%;
	margin: 0 auto;
}
.clear { clear: both;}



/* header */
header {
	border: 1px solid #fff;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
}

#top {
	overflow: hidden;
	height: 175px;
	padding: 40px 0 0 0;
}

#logo {
	width: 100%;
	height: 100%;
	font-family: 'MaplestoryLight', sans-serif;
	font-weight: bold;
	font-size: 5.5em;
	text-align: center;
	line-height: 100%;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	z-index: -1;
}

#profile{
	width: 100px;
	position: absolute;
	right:100px;
	top: 40px;
	
}
#profile>img{
	vertical-align: middle;
	width: 81px;
	height: 81px;
	border-radius: 50%;
}


/* content */
.content {
	min-height: 2000px;
}

.content_top {
/* 	border: 1px solid #fff; */
	width: 1550px;
	min-height: 100px;
	margin: 0 auto;
	padding-top: 50px;
}

.board_butt, .board_butt2 {
	width: 500px;
	height: 100px;
	margin-right: 5px;
	color:#000;
	display:inline-block;
	background-color: #ddd;
	border-radius: 3px;
	border:1px solid #dcdcdc;
	font-family:"MaplestoryLight", Arial, sans-serif;
	font-size:19px;
	font-weight:bold;
}

.board_butt2{
	
}

.board_butt>a {
	color: #666666;
	font-size: 50px;
	position: relative;
	top:40px;
	left: 147.5px;
}

.board_butt2>a{
	color: #666666;
	font-size: 50px;
	position: relative;
	top:40px;
	left: 184.5px;
}

.board_butt:hover {
	background-color:#f6f6f6;
}

.board_butt2:hover {
	background-color:#f6f6f6;
}

.board_butt:active {
	position:relative;
	top:1px;
}

.board_butt2:active {
	position:relative;
	top:1px;
}

/* search */
#srch{
   height: 40px;
   box-sizing: border-box;
   display: inline-block;
    text-align: center;
    margin-top: 8px;
    width: 1520px;
}

#srch>input{
   box-sizing: border-box;
   width: 1522px;
   height: 43px;
   margin-right: -40px;
   display: block;
   float: left;
   border: none;
   background-color: #ddd;
   font-size: 20px;
    font-family: 'NanumBarunpenR', sans-serif;
    font-weight: bold;
    padding: 0 50px 0 20px;
}

#srch>a{
   box-sizing: border-box;
   width: 40px;
   height: 41px;
   display: block;
   background-image: url("../images/search.png");
   background-size: cover;
   float: right;
   position: relative;
   bottom: 42px;
}

#news_notice {
    
    width:1503px;
    height: 13px;
    margin-top:3px;
    padding: 10px;
    background-color:white;
    margin-top: 7px;
    margin-bottom: 2px;
}

#context {
   width:1503px;
   height: 30px;
   padding: 10px;
   border-top: none;
   background-color:white;
}



.posting {
	/* border: 1px solid blue; */
	width: 1550px;
	display: block;
	margin: 8px auto;
}

.cont_category {
/* 	background-color: white; */
	margin-top: 8px;
	border: 1px solid white;
	width: 1522px;
	height: 30px;
	color: white;
	text-align: center;
}

.cont_category>span {
/* 	border: 1px solid pink; */
	font-size: 20px;
	color: white;
	position: relative;
	top: 5px;
	padding-right: 155px;
	left: 82px;
}

/* top-button */
.top1{
   position: fixed;
   right: 50px;
   bottom: 100px; 
}

/*copyright*/
#copyright {
	overflow: hidden;
	padding: 3em 0em 6em 0em;
	border-top: 1px solid #212124;
	text-align: center;
	font-family: -webkit-body;
}

#copyright p {
	font-size: 1em;
}

#copyright a {
	color: #949494;
	text-decoration: none;
	margin: 15px;
}

#copyright a:hover {
	text-decoration: underline;
}

