@CHARSET "UTF-8";
@font-face {font-family: 'NanumBarunpenR';	src: url("font/NanumBarunpenR.ttf") format('truetype');}
@font-face {font-family: 'MaplestoryLight';src: url("font/Maplestory Light.ttf") format('truetype');}

/* 초기값 설정 */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;		
}
body{
	background-color:rgb(16, 18, 20);
	font-family: 'NanumBarunpenR', sans-serif;
	font-size: 10pt;
	line-height: 1.2em;
	color: #333;
	min-height: 900px;
}

#wrap {
	background-color: rgb(16, 18, 20);
	min-width: 1200px;
	min-height:100%;
	margin: 0 auto;
}
.clear { clear: both;}



/* header */
header {
	border: 1px solid #fff;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
}

#top {
	overflow: hidden;
	height: 175px;
	padding: 40px 0 0 0;
}

#logo {
	width: 100%;
	height: 100%;
	font-family: 'MaplestoryLight', sans-serif;
	font-weight: bold;
	font-size: 5.5em;
	text-align: center;
	line-height: 100%;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	z-index: -1;
}

#profile{
	width: 100px;
	position: absolute;
	right:100px;
	top: 40px;
	
}
#profile>img{
	vertical-align: middle;
	width: 81px;
	height: 81px;
	border-radius: 50%;
}


/* content */
.content {
	min-height: 2000px;
}

.cont_butt {
/* 	border: 1px solid #fff; */
	width: 1550px;
	height: 100px;
	margin: 0 auto;
	padding-top: 50px;
}

.board_butt {
	width: 500px;
	height: 100px;
	margin: -2px;
	margin-right: 5px;
	color:#666666;
	display:inline-block;
	background-color: #fff;
	border-radius: 5px;
	border:1px solid #dcdcdc;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
}

.board_butt>a {
	color: #666666;
	font-size: 50px;
	position: relative;
	top:40px;
	left: 147.5px;
}

.board_butt:hover {
	background-color:#f6f6f6;
}

.board_butt:active {
	position:relative;
	top:1px;
}

#search {
   width: 1514px;
   height: 30px;
   background-color: #fff;
   margin-left:492px;
   float: left;
   margin-top: 5px;
   }
   


/*copyright*/
#copyright {
	overflow: hidden;
	padding: 3em 0em 6em 0em;
	border-top: 1px solid #212124;
	text-align: center;
	font-family: -webkit-body;
}

#copyright p {
	font-size: 1em;
}

#copyright a {
	color: #949494;
	text-decoration: none;
	margin: 15px;
}

#copyright a:hover {
	text-decoration: underline;
}

